SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS ON
GO
IF EXISTS (SELECT * FROM tempdb..sysobjects WHERE id=OBJECT_ID('tempdb..#tmpErrors')) DROP TABLE #tmpErrors
GO
CREATE TABLE #tmpErrors (Error int)
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
GO
BEGIN TRANSACTION
GO
PRINT N'Creating [dbo].[products]'
GO
CREATE TABLE [dbo].[products]
(
[id] [int] NOT NULL,
[name] [varchar] (max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
)

GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__products__3213E83F0AD2A005] on [dbo].[products]'
GO
ALTER TABLE [dbo].[products] ADD CONSTRAINT [PK__products__3213E83F0AD2A005] PRIMARY KEY CLUSTERED ([id])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating [dbo].[properties]'
GO
CREATE TABLE [dbo].[properties]
(
[id] [int] NOT NULL,
[name] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
[value] [varchar] (max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
)

GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK_properties] on [dbo].[properties]'
GO
ALTER TABLE [dbo].[properties] ADD CONSTRAINT [PK_properties] PRIMARY KEY CLUSTERED ([id], [name])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Adding foreign keys to [dbo].[properties]'
GO
ALTER TABLE [dbo].[properties] ADD
CONSTRAINT [FK__properties__id__0EA330E9] FOREIGN KEY ([id]) REFERENCES [dbo].[products] ([id])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
IF EXISTS (SELECT * FROM #tmpErrors) ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT>0 BEGIN
PRINT 'The database update succeeded'
COMMIT TRANSACTION
END
ELSE PRINT 'The database update failed'
GO
DROP TABLE #tmpErrors
GO
SET NUMERIC_ROUNDABORT OFF
GO
SET XACT_ABORT, ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS, NOCOUNT ON
GO
SET DATEFORMAT YMD
GO
-- Pointer used for text / image updates. This might not be needed, but is declared here just in case
DECLARE @pv binary(16)

BEGIN TRANSACTION

-- Drop constraints from [dbo].[properties]
ALTER TABLE [dbo].[properties] DROP CONSTRAINT [FK__properties__id__0EA330E9]

-- Add 1000 rows to [dbo].[products]
INSERT INTO [dbo].[products] ([id], [name]) VALUES (1, 'AttachIt')
INSERT INTO [dbo].[products] ([id], [name]) VALUES (2, 'Rug')
INSERT INTO [dbo].[products] ([id], [name]) VALUES (3, 'Swish')

-- Add 2999 rows to [dbo].[properties]
INSERT INTO [dbo].[properties] ([id], [name], [value]) VALUES (1, 'len', '1 yd')
INSERT INTO [dbo].[properties] ([id], [name], [value]) VALUES (1, 'pitch', '12-3')
INSERT INTO [dbo].[properties] ([id], [name], [value]) VALUES (2, 'color', 'white')

-- Add constraints to [dbo].[properties]
ALTER TABLE [dbo].[properties] ADD CONSTRAINT [FK__properties__id__0EA330E9] FOREIGN KEY ([id]) REFERENCES [dbo].[products] ([id])

COMMIT TRANSACTION
GO
